body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(119, 90, 128, 1) 50%, rgba(102, 69, 252, 1) 100%)
}



.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px;
    height: 100px;
}



a.home:hover, a.questions:hover, a.work:hover, a.login:hover {
    color: #654272;
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; 
}

.navigation a{
    color: white;
    text-decoration: none;
}

.logotipo {
    width: 300px;
    margin-left: 150px;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.question {
    font-weight: bold;
    color: #555;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
}

.answer {
    display: none;
    margin-top: 10px;
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.question::after {
    content: '\25B8';
    float: right;
    transition: all 0.3s ease-in-out;
}

.active::after {
    transform: rotate(90deg);
}